.product-page-img .carousel-root .carousel .thumbs-wrapper {
  width: 100% !important;
  height: 200px;
  border: 1px solid green;
  padding-top: 15px;
}
.product-page-img .carousel-root .carousel .thumbs-wrapper .thumb {
  width: 150px !important;
  height: 160px !important;
  border-radius: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(4, 213, 4, 0.83) !important;
}
.product-page-img .carousel-root .carousel .thumbs-wrapper .thumbs {
  height: 200px !important;
}
.product-page-img .carousel-root .carousel .thumbs-wrapper .thumb:hover {
  scale: 1.03;
  outline: none !important;
  border: none !important;
}
.product-page-img .carousel-root .carousel .thumbs-wrapper .thumb.selected {
  scale: 1.03;
  outline: none !important;
  border: none !important;
  border: 1px solid green !important;
}
.product-page-img .carousel-root .carousel .thumbs-wrapper .thumb img {
  height: 200px !important;
  width: 200px !important;
  border-radius: 10px;
}
.img-thumbs {
  object-fit: contain !important;
  height: 400px !important;
}

.product-page-img .slick-prev {
  position: absolute;
  top: 48% !important;
  left: 5px;
  display: block;
  width: 50px !important;
  height: 50px !important;
  padding: 0;
  z-index: 100 !important;
  background-color: white !important;
  color: transparent;
  font-size: 0 !important;
  line-height: 0 !important;
  border: 1px solid rgb(118, 207, 207) !important;
  outline: none;
  cursor: pointer;
  border-radius: 100% !important;
}

.product-page-img .slick-next {
  position: absolute;
  top: 48% !important;
  right: 45px;
  display: block;
  width: 50px !important;
  height: 50px !important;
  padding: 0;
  z-index: 100 !important;
  background-color: white !important;
  color: transparent;
  font-size: 0 !important;
  line-height: 0 !important;
  border: 1px solid rgb(118, 207, 207) !important;
  outline: none;
  cursor: pointer;
  border-radius: 100% !important;
}

.product-page-img .slick-arrow:hover {
  background-color: rgb(118, 207, 207) !important;
}
.product-page-img .slick-arrow:hover::before {
  color: white !important;
}

.slider-container-styck::-webkit-scrollbar {
  display: none;
}
.product-page-img .slick-next::before {
  content: ">" !important;
  position: absolute !important;
  right: 33% !important;
  top: 48% !important;
  font-size: 30px !important;
  color: rgb(118, 207, 207) !important;
}
.product-page-img .slick-prev::before {
  content: "<" !important;
  position: absolute !important;
  right: 33% !important;
  top: 48% !important;
  font-size: 30px !important;
  color: rgb(118, 207, 207) !important;
}
