:root {
  --slide-arrow-bg-color: #ffbe1e;
  --slide-arrow-text-color: #fff;
  --slide-arrow-border-color: #fff;
}
.ant-image-mask {
  display: none !important;
}

.fast-detail .slick-arrow {
  position: absolute;
  top: 48% !important;
  right: 100px !important;
  z-index: 100;
  display: block;
  width: 50px !important;
  height: 50px !important;
  padding: 0;
  color: transparent;
  font-size: 0 !important;
  line-height: 0 !important;
  background: var(--slide-arrow-bg-color) !important;
  border: 1px solid var(--slide-arrow-border-color) !important;

  outline: none;
  cursor: pointer;
  border-radius: 100% !important;
}

.fast-detail .slick-arrow:hover {
  position: absolute;
  top: 22%;
  right: -40px;
  display: block;
  width: 50px !important;
  height: 50px !important;
  margin-top: -10px;
  padding: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 100% !important;
}

.fast-detail .slick-next::before {
  content: ">" !important;
  position: absolute !important;
  right: 33% !important;
  top: 48% !important;
  font-size: 30px !important;
  color: var(--slide-arrow-text-color) !important;
}
.fast-detail .slick-prev::before {
  content: "<" !important;
  position: absolute !important;
  right: 33% !important;
  top: 48% !important;
  font-size: 30px !important;
  color: var(--slide-arrow-text-color) !important;
}
