.product-section::-webkit-scrollbar {
  display: none;
}
.ant-input-search-button {
  background: #1d828e !important;
}
.ant-input-search-button:hover {
  background: #1d828e !important;
}

.ant-btn:hover {
  background-color: #1d828e !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}
.ant-btn:disabled {
  background-color: #1d828e !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: red !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: red;
}

.ant-radio:hover .ant-radio-inner {
  border-color: red;
}

.ant-checkbox-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 28px !important;
  height: 28px !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background: #1d828e !important;
}
.ant-checkbox-inner {
  border: 1px solid #1d828e !important;
}

.ant-checkbox-inner::after {
  transform: scale(1.5) rotate(45deg) !important;
  position: relative !important;
  top: 30% !important;
  left: 38% !important;
}
