.product-section::-webkit-scrollbar {
  display: none;
}
.ant-input-search-button {
  background: #1d828e !important;
}
.ant-input-search-button:hover {
  background: #1d828e !important;
}

.ant-btn:hover {
  background-color: #1d828e !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}
.ant-btn:disabled {
  background-color: #1d828e !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: red !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: red;
}

.ant-radio:hover .ant-radio-inner {
  border-color: red;
}
