:root {
  --checkboxBackground: #ffbe1e;
  --checkboxBackgroundHover: #f3b519c0;
  --checkBoxBorder: #ffbe1e;
}
.product-section::-webkit-scrollbar {
  display: none;
}
.ant-input-search-button {
  background: var(--checkboxBackground) !important;
}
.ant-input-search-button:hover {
  background: var(--checkboxBackground) !important;
}

.ant-btn:hover {
  background-color: var(--checkboxBackground) !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}
.ant-btn:disabled {
  background-color: #1d828e !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}

.ant-radio-checked .ant-radio-inner {
  border-color: red !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: red;
}

.ant-radio:hover .ant-radio-inner {
  border-color: red;
}

.ant-checkbox-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 25px !important;
  height: 25px !important;
}
