.slider-home .thumbs {
  display: none !important;
}
.products-slide .thumb {
  border: 2px solid #c7c7c7 !important ;
  width: 152px !important;
  height: 121px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  padding: 9px !important;
  position: relative !important;
  margin-left: 10px !important;
  border-radius: 10px;
}
.products-slide img {
  border-radius: 10px !important;
}
.products-slide .thumbs {
  position: relative;
  display: flex !important;
  justify-content: space-around !important;
}
.products-slide .thumbs-wrapper {
  width: 100%;
  position: relative;
  right: 13px;
}
.products-slide .carousel-root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products-slide .control-dots {
  width: 100% !important;
  position: relative !important   ;
  left: 0px;
  top: 360px;
}

.products-slide .slide {
  width: 300px !important;
  height: 100% !important;
}
.products-slide .carousel {
  width: 670px;
}

.products-slide .carousel-slider {
  height: 400px;
}

.products-slide .thumb.selected {
  border: 2px solid #a06f70 !important;
}

.control-arrow,
.control-next {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute !important;
  top: 45% !important;
  background-color: rgba(128, 128, 128, 0.505) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-next-1 .control-arrow,
.control-next {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute !important;
  top: 45% !important;
  background-color: rgba(128, 128, 128, 0.505) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-next-1 .thumbs {
  display: none !important;
}
.css-1u9des2-indicatorSeparator {
  display: none;
}
.css-17ekpuy-control {
  outline: none;
}

.css-1nmdiq5-menu {
  background: transparent !important;
  border: none;
  cursor: pointer !important;
}

.react-select__option {
  background-color: transparent !important;
  padding: 10px !important;
}

/* antd design  */

.ant-tabs-tab-btn {
  width: 100px;
  text-align: center;
  color: #1d828e !important;
}
.ant-tabs-tab-active {
}
.ant-select-selector {
  background: transparent !important;
  box-shadow: 0 0 0 0 !important;
  border: 1px solid #e2e2e2 !important;
  font-size: 16px !important;
  font-family: "Poppins", sans-serif !important;
  color: #9ca3af !important;
}

.HoverSlideshow-module_innerContainer__kOA84 {
  display: grid;
  justify-content: center;
  align-items: center;
}
.HoverSlideshow-module_img__C-dKU {
  width: 100%;
  height: 194px;
}
