/* slider style  */

.slider-home .carousel-root .carousel .control-arrow {
  position: absolute !important;
  top: 40% !important;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(194, 194, 194, 0.564) !important;
}

.slider-home .carousel-root .carousel .control-arrow:hover {
  background: gray/50;
}

.slick-dots {
  display: none !important;
}
/* slider style end */

/* react slick style */
.slick-slider-animation .slick-next {
  position: absolute !important;
  top: 43% !important;
  font-size: 30px !important;
  right: -50px !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  background-color: rgba(233, 233, 233, 0.258) !important;
  box-shadow: 3px 3px 3px 3px rgba(195, 195, 195, 0.334);
}
.slick-slider-animation .slick-next::before {
  content: ">" !important;
  position: absolute !important;
  right: 38% !important;
  top: 25% !important;
  font-size: 20px !important;
  color: #123 !important;
}
.slick-slider-animation .slick-prev::before {
  content: "<" !important;
  position: absolute !important;
  right: 38% !important;
  top: 25% !important;
  font-size: 20px !important;
  color: #123 !important;
}
.slick-slider-animation .slick-prev {
  position: absolute !important;
  top: 43% !important;
  font-size: 30px !important;
  left: -50px !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  background-color: rgba(233, 233, 233, 0.258) !important;
  box-shadow: 3px 3px 3px 3px rgba(195, 195, 195, 0.334);
}
.products-slide .slick-next {
  position: absolute !important;
  top: 53% !important;
  font-size: 30px !important;
  right: -10px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 3px 3px 3px 3px rgba(195, 195, 195, 0.334);
  z-index: 100;
}
.products-slide .slick-next::before {
  content: ">" !important;
  position: absolute !important;
  right: 35% !important;
  top: 15% !important;
  font-size: 25px !important;
  color: teal !important;
}
.products-slide .slick-prev::before {
  content: "<" !important;
  position: absolute !important;
  right: 35% !important;
  top: 15% !important;
  font-size: 25px !important;
  color: teal !important;
}
.products-slide .slick-prev {
  position: absolute !important;
  top: 53% !important;
  font-size: 30px !important;
  left: -10px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100%;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 3px 3px 3px 3px rgba(195, 195, 195, 0.334);
  z-index: 100;
}

@keyframes slideAnimation {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.slide-item {
  animation: slideAnimation 0.5s ease; /* Animatsiya davomiyligi va uslubi */
}
.slide-imgs {
  width: 100% !important;
  overflow: scroll;
  transition: 0.3s ease;
  background: blue;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 2fr)); /* 10 ustunlik */
  grid-auto-flow: column; /* Har bir elementni bir-biriga joylashtirish */
  grid-gap: 10px;
}
/* antd design  */

.ant-menu-submenu {
  box-shadow: 0 0 0 0 !important;
}
.ant-menu {
  height: 300px !important;
}
.ant-tabs-tab-btn {
  width: 100px;
  text-align: center;
  color: #1d828e !important;
}
.ant-select-selector {
  background: transparent !important;
  box-shadow: 0 0 0 0 !important;
  border: 1px solid #e2e2e2 !important;
  font-size: 16px !important;
  font-family: "Poppins", sans-serif !important;
  color: #9ca3af !important;
}

.HoverSlideshow-module_innerContainer__kOA84 {
  display: grid;
  justify-content: center;
  align-items: center;
}
.HoverSlideshow-module_img__C-dKU {
  width: 100%;
  height: 194px;
}

/* antd design end */

.thumbs {
  display: flex !important;
  justify-content: space-around !important;
}
.cart-slider .thumbs-wrapper {
  width: 100%;
  position: relative;
  right: 13px;
}
.cart-slider .carousel-root {
  height: 194px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-slider .control-dots {
  width: 100% !important;
}
.cart-slider .animated {
  background: blue !important;
}

.cart-slider .slide {
  width: 100% !important;
  height: 194px !important;
}
.cart-slider .carousel {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue !important;
}
.cart-slider .carousel {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue !important;
  overflow: scroll !important;
}
.cart-slider .slider-wrapper {
  height: 194px !important  ;
}

.cart-slider .carousel-slider {
  height: 100%;
}

.cart-slider .thumb.selected {
  border: 2px solid #a06f70 !important;
}

.cart-slider .slide-next-1 .thumbs {
  display: block !important;
  position: relative;
}
.cart-slider .css-1u9des2-indicatorSeparator {
  display: block !important;
}
.cart-slider .css-17ekpuy-control {
  outline: none !important;
}

.cart-slider .thumbs-wrapper {
  background: blue !important;
}
.control-dots .dot {
  width: 10px !important;
  height: 5px !important;
  border-radius: 1px !important;
}
.control-dots .selected {
  box-shadow: 0 0 0 0 !important;
  width: 20px !important;
  transition: 3s ease;
}

.carousel-slider:hover .control-arrow {
  opacity: 1 !important;
}

.control-arrow {
  width: 30px;
  height: 30px;
  opacity: 0 !important;
  padding: 3px;
  font-size: 15px;
}

.active {
  margin-top: 5px;
  width: 100%;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.tab-wrapper-panel {
  overflow: scroll;
}

.tabs {
  display: none;
  transition: 0.3s ease;
}

.tab-elements {
  width: 400px;
  margin-top: 30px;
}
.tab-key:not(:nth-child(1)) {
  margin-left: 20px;
}

.header-top {
  transition: 0.3s ease;
}

/* switch   */

.ant-switch {
  background: #c2c2c2 !important;
}
.ant-switch-checked {
  background: #1d828e !important;
}

.ant-upload {
  width: 100% !important;
  height: 266px !important;
}

.ant-modal-content {
  width: 1000px !important;
  right: 48%;
}
.tab-wrapper-panel::-webkit-scrollbar {
  display: none !important;
}
.tab-wrapper-panel::-webkit-scrollbar-button {
  display: none;
}
.scroll-wrapper::-webkit-scrollbar {
  display: none !important;
}
.cart-slider .control-next,
.control-arrow {
  margin: 10px;
}

@media only screen and (min-device-width: 375px) {
  .header-wrapper {
    padding: 1rem;
  }
}

.slide-scroll {
  overflow-x: scroll;
  transition: 0.3s ease;
  user-select: none;
  background: blue;
}

.anticon {
  z-index: 1000;
}

.slide-scroll::-webkit-scrollbar {
  display: none;
}

.active-img {
  border: 2px solid #90c049 !important;
  border-radius: 10px;
}
.img-product {
  width: 100%;
  height: 400px;
  transition: transform 0.3s ease-in-out;
  object-fit: contain;
  object-position: bottom;
}

/* antd design add styles */
.ant-select-item {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.ant-select-item-option-selected {
  background-color: rgba(0, 0, 0, 0.04) !important;
  color: rgba(177, 177, 177, 0.85) !important;
  font-weight: 500 !important;
  pointer-events: none !important;
  cursor: grab !important;
}

.ant-checkbox-input {
  width: 30px !important;
  height: 30px !important;
}

.ant-upload-select:hover {
  border: 1px dashed #1d828e !important;
}

/* antd loading */

.ant-spin-dot-item {
  background-color: white !important;
}
/* antd design add styles end*/

/* tabs styled */

.tabs-active {
  @apply mt-6 block h-[100%] overflow-scroll  border;
}
.tabs-none {
  @apply hidden;
}

.tab-el-active {
  @apply flex h-[45px] w-[150px] cursor-pointer  select-none items-center justify-center rounded-md border bg-white duration-500;
}
.tab-icon {
  @apply ml-1 mr-1 text-[20px];
}

.tab-el {
  @apply flex h-[45px] w-[150px] cursor-pointer  select-none items-center justify-center rounded-md border bg-[#EBEBEB] text-[#545454] transition-all duration-500 hover:bg-white;
}

.adjust_button_hover_drawer.ant-btn:hover {
  border-color: white !important;
  background: #fff !important;
}
