@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
}

html {
  background: #fafafa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-input:hover {
  box-shadow: 0 0 0 0 !important;
  border: 1px solid gray !important;
}
.ant-input:focus {
  box-shadow: none !important;
  border: 1px solid gray !important;
}
.ant-input:focus-within {
  box-shadow: 0 0 0 0 !important;
  border: 1px solid gray !important;
}
