.ant-checkbox-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 28px !important;
  height: 28px !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background: #1d828e !important;
}
.ant-checkbox-inner {
  border: 1px solid #1d828e !important;
}

.ant-checkbox-inner::after {
  transform: scale(1.5) rotate(45deg) !important;
  position: relative !important;
  top: 30% !important;
  left: 38% !important;
}
.ant-collapse-header {
  border-radius: 10px;
  transition: 0.1s ease !important;
  user-select: none;
}
.ant-collapse-header:hover {
  background-color: rgba(112, 128, 144, 0.111);
  color: #5c5c5c !important;
}
